<app-navbar></app-navbar>
<div class="container">
  <h1 class="form-title">Editar Veículo</h1>
  <form [formGroup]="veiculoForm" (ngSubmit)="onSubmit()" class="business-form">
    <mat-form-field appearance="fill">
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="modelo" required />
      <mat-error *ngIf="veiculoForm.get('modelo')?.invalid">
        O modelo é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fabricante</mat-label>
      <input matInput formControlName="fabricante" required />
      <mat-error *ngIf="veiculoForm.get('fabricante')?.invalid">
        O fabricante é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ano</mat-label>
      <input matInput type="number" formControlName="ano" required />
      <mat-error *ngIf="veiculoForm.get('ano')?.invalid">
        O ano deve estar entre 1900 e 2100.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preço</mat-label>
      <input matInput type="number" formControlName="preco" required />
      <mat-error *ngIf="veiculoForm.get('preco')?.invalid">
        O preço deve ser maior que zero.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cor</mat-label>
      <input matInput formControlName="cor" />
    </mat-form-field>

    <mat-form-field appearance="fill"
      *ngIf="veiculoForm.get('tipoVeiculo')?.value !== 'MOTO'"
    >
      <mat-label>Quantidade de Portas</mat-label>
      <input
        matInput
        formControlName="quantidadePortas"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill"
    *ngIf="veiculoForm.get('tipoVeiculo')?.value !== 'MOTO'"
    >
      <mat-label>Tipo de Combustível</mat-label>
      <input matInput formControlName="tipoCombustivel" required />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      *ngIf="veiculoForm.get('tipoVeiculo')?.value !== 'CARRO'"
    >
      <mat-label>Cilindrada</mat-label>
      <input matInput type="number" formControlName="cilindrada" />
    </mat-form-field>

    <div class="form-actions">
      <button
        mat-raised-button
        color="warn"
        type="button"
        routerLink="/veiculos"
        class="cancel-button"
      >
        Cancelar
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="veiculoForm.invalid"
        class="submit-button"
      >
        Salvar
      </button>
    </div>
  </form>
</div>
